* {
  padding:0px;
  margin:0px;
}

.Header {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(2, 2, 2, 0.4);
  margin:2px;
  padding:15px;
  position:fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:100%;
  box-shadow: 2px 2px 7px;
}
.title {
  margin:15px;
  color:green;
  text-shadow: 2px 3px 4px;
}
input {
  height:35px;
  width:350px;
  border:1px solid blue;
  border-radius: 4em;
  margin-right: 20px;
  margin-left:20px;
  padding-left:20px;
  padding-right:20px;
}
.list {
  display:flex;
}
.listClass {
  margin-left:20px;
  margin-right:20px;
  font-size: small;
}