body {
 background:black;
 /* black; */
}

.Header {
  background: rgba(2,2,2,0,3);
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 9, 248, 0.925)), 
     url("Gta5.jpg");
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:2px;
  padding:15px;
  position:fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:100%;
  box-shadow: 2px 2px 7px;
  height:25vh;
}
.title {
  margin:15px;
  color:rgb(8, 247, 8);
  text-shadow: 2px 3px 4px;
}
input {
  height:35px;
  width:350px;
  border:1px solid blue;
  border-radius:4rem 0 0 4rem;
  padding-left:20px;
  padding-right:20px;

  @media(max-width:800px) {
    height:30px;
  }
}
.search {
  border-radius: 4em;
  margin-right: 20px;
  margin-left:20px;
  margin-top: 0;

  @media(max-width:800px) {

  }
}
.list {
  display:flex;
}
.listClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left:20px;
  margin-right:20px;
  font-size: small;
  color:white;
  display: block;
  background: rgba(17, 24, 23, 0.747);
  height:70px;
  width:70px;
  padding:3px;
  border-radius: 3rem;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:linear-gradient(rgba(1,1,1,0.3), blue) ; 
  margin:2px;
  border-radius: 1.5rem;
  padding:8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  color:white;
  position: relative;}
.heading {
  color:green;
  font-size: large;
  font-weight: bolder;
}
.about {
  display:block;
  width:40%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:150px;
}
.cardMain {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin:5px;
  background:linear-gradient(rgba(9, 9, 248, 0.5), white); 
  padding: 5px;
  border-radius: 1rem;
  height:230px;
}
.cardMain:hover{
  padding:2px;
}
.category {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(12, 33, 218);
  border:1px red;
  border-radius: 2px;
  overflow-x: hidden;
}
.categories {
 display: flex;
 flex-direction: column;
 margin:2px;
 padding:4px;
border:1px;
width: 100vw;
}
img {
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius: 10px;
}
button {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 1.5em;
  border:1px solid blue;
  height:30px;
  font-weight: bold;
  font-size:large;
}
.btn{
  position: relative;
  background-color: black;
  color: white;
  border-radius:0 1.5rem 1.5rem 0;
  border:1px solid blue;
  height:35px;
  font-weight: bold;
  font-size:large
}
button:hover{
  border:none;
  font-size: medium;
  background-color: blueviolet;
}
.text {
  color:blue;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
marquee {
  background: blue;
  color:white;
  font-weight: bolder;
  height: 35px;
  
}
/* ::-webkit-scrollbar-button{
  background: white;
}
::-webkit-scrollbar{
  background: black;
} */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:35vh;
  width:50%;
  border-radius: 2.5rem;  
  padding: 25px;
  background: rgba(9, 9, 248, 0.747);
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 2px 3px 4px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./assets/Games-Far-Cry-6-2.webp") ;
  /* background-color: rgba(1,1,1,0.3); */
  height:100vh;
  padding-top: 10%;
}
.box1{
  border-radius: 4rem;
  width:45vw;
  border: 2px solid;
}
.btn1{
  position: relative;
  background-color: black;
  color: white;
  border-radius:4rem;
  border:1px solid blue;
  height:35px;
  padding: .5em 4rem;
  font-weight: bold;
  font-size:large;
  cursor: pointer;
  box-shadow: 2px 3px 4px;
}
.text1{
  color:white;
  font-size: 25px;
  font-weight: bold;
  margin:15px;
  color:rgb(8, 247, 8);
  text-shadow: 2px 3px 4px;
}
.forgot {
  text-decoration: underline;
  color:purple;
  font-size:12pt;
  font-weight:bold;
  text-shadow: 1px 1px 1px;
  cursor: pointer;
}
.span{
  color:blue;
  font-weight: bolder;
  padding:0 5px;
}
.text2 {
  color:greenyellow;
  font-weight: bolder;
}

.times {
  top:0px;
  position:absolute;
  right:5px;
  margin:5px;
}